<%= form_with(model: turma) do |form| %>
  <% if turma.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turma.errors.count, "error") %> prohibited this turma from being saved:</h2>

      <ul>
        <% turma.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_field :descricao %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.number_field :estado %>
  </div>

  <div>
    <%= form.label :curso, style: "display: block" %>
    <%= form.text_field :curso %>
  </div>

  <div>
    <%= form.label :instituicao, style: "display: block" %>
    <%= form.text_field :instituicao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
