<div id="<%= dom_id turma %>">
  <p>
    <strong>Descricao:</strong>
    <%= turma.descricao %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= turma.estado %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= turma.curso %>
  </p>

  <p>
    <strong>Instituicao:</strong>
    <%= turma.instituicao %>
  </p>

</div>
